<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png"
        href="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/512px-Pok%C3%A9_Ball_icon.svg.png">

    <link rel="stylesheet" href="/css/bootstrap.css" crossorigin="anonymous">

    <script src="/js/bootstrap.bundle.js"></script>
    <!-- <script src="/js/deleteEvent.js"></script> -->


    <title>
        <%= tituloWeb %>
    </title>
</head>

<body>