<header class="d-flex text-bg-dark">
  <nav class="navbar">
    <div class="container ">
      <a class="navbar-brand" href="/">
        <img
          src="https://cdn.icon-icons.com/icons2/851/PNG/512/Pokedex_tool_icon-icons.com_67529.png"
          alt="Bootstrap" width="49" height="49">
      </a>
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-white fw-bold">Home</a></li>
          <li><a href="/contacto" class="nav-link px-2 text-white">contacto</a></li>
          <li><a href="/Pokemon" class="nav-link px-2 text-white">Pokemon</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>